
.fusio-login-container
{
    max-width: 400px;
    background-color: #eee;
    margin:0 auto;
    margin-top: 64px;
    margin-bottom: 128px;
    padding:12px;
    padding-top: 16px;
    padding-bottom: 32px;
    border: 1px solid #aaa;
}

.fusio-login-container h1
{
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
    margin: 0;
    margin-bottom: 8px;
}

.fusio-login-container .fusio-login-ruler
{
    border-bottom: 1px solid #444;
    margin-bottom: 16px;
}

.fusio-header
{
    border-bottom:1px solid #ccc;
}

.fusio-header-loggedin
{
    padding:15px 0;
}

.fusio-footer
{
    padding:32px;
    text-align:right;
    border-top:1px solid #ccc;
}

.fusio-main
{
}

.fusio-intro
{
    background-image:url(../img/header.jpg);
    background-position:right top;
    background-repeat:no-repeat;
    margin:0 -15px;
    height:400px;
    padding-top:32px;
    border-bottom:1px solid #ccc;
}

.fusio-intro h1
{
    font-size:3em;
    margin-bottom:32px;
}

.fusio-intro p
{
    font-size:1.6em;
    margin-bottom:32px;
}

.fusio-intro-subline
{
    background-color:#222;
    color:#fff;
    margin:0 -15px;
    padding-top:20px;
    padding-bottom:20px;
}

.fusio-intro-subline h2
{
    margin:0;
    margin-bottom:8px;
}

.fusio-intro-column
{
    margin-top:32px;
    margin-bottom:64px;
    text-align:center;
}

.fusio-intro-column h3
{

}

.fusio-intro-column-icon
{
    font-size:3em;
}

.fusio-sidebar
{
    background-color:#eee;
    border-right:1px solid #ccc;
    position: fixed;
    height: 100%;
}

.fusio-nav
{
    min-height:600px;
}

@media (max-width:991px) {
    .fusio-sidebar
    {
        border-bottom:1px solid #ccc;
    }

    .fusio-nav
    {
        min-height:0;
    }

    .fusio-intro
    {
        background-position:left top;
    }
}

.fusio-nav h3
{
    font-size:1.2em;
    font-weight:bold;
    margin:0;
    padding-top: 20px;
    padding-bottom: 10px
}

.fusio-nav ul
{
    padding:0;
}

.fusio-nav li
{
    list-style-type: none;
}

.fusio-nav li a
{
    text-decoration: none;
    padding:4px 0;
    display: block;
}

.fusio-nav li a:hover
{
    text-decoration:underline;
}

.fusio-nav-group
{
    padding-bottom:8px;
}

.fusio-content
{
    margin-top:8px;
    margin-bottom:32px;
    max-width:800px;
}

.fusio-api
{
}

.fusio-api h2
{
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.fusio-endpoint-method
{
}

.fusio-endpoint-method h3
{
    background-color:#eee;
    border-bottom:1px solid #aaa;
    padding:12px;
    font-size:1em;
}

.fusio-endpoint-method h4
{
    font-size:1em;
    font-weight:bold;
    padding:8px 8px;
    background-color:#eee;
}

.fusio-code
{
    font-family: monospace;
    background-color: #fff;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.fusio-property
{
    font-family: monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.fusio-property-required
{
    font-weight:bold;
}

/* bootstrap */
.btn, .form-control, .alert
{
    border-radius: 0px;
}

.nav-tabs > li > a
{
    border-radius: 0px;
}

.modal-content
{
    border-radius:0px;
}

.panel
{
    border-radius:0px;
}

/* social buttons */
.btn-google-plus {
    color: #fff;
    background-color: #dd4b39;
    border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
    color: #fff;
    background-color: #cb3927;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #294786;
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    color: #fff;
    background-color: #0069a4;
}

.btn-twitter {
    color: #fff;
    background-color: #00aced;
    border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
    color: #fff;
    background-color: #0090c7;
}

.btn-foursquare {
    color: #fff;
    background-color: #f94877;
    border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
    color: #fff;
    background-color: #f71752;
}

.btn-github {
    color: #fff;
    background-color: #444;
    border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
    color: #fff;
    background-color: #303030;
}

.btn-instagram {
    color: #fff;
    background-color: #3f729b;
}

.btn-instagram:hover,
.btn-instagram:focus {
    color: #fff;
    background-color: #305777;
}

.btn-yahoo {
    color: #fff;
    background-color: #720e9e;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
    color: #fff;
    background-color: #600e85;
}

.btn-live {
    color: #fff;
    background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
    color: #fff;
    background-color: #125acd;
}

.btn-twitch {
    color: #fff;
    background-color: #6441a5;
}

.btn-twitch:hover,
.btn-twitch:focus {
    color: #fff;
    background-color: #7550ba;
}

.btn-bitbucket {
    color: #fff;
    background-color: #10375e;
}

.btn-bitbucket:hover,
.btn-bitbucket:focus {
    color: #fff;
    background-color: #0d2c4a;
}
