
<div class="container fusio-login-container">
    <div uib-alert ng-class="'alert-danger'" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <div uib-alert ng-class="'alert-success'" close="closeResponse()" ng-if="response.success === true">
        Password reset successful. You can now <a ng-href="#!/login">Log in</a> with your new password.
    </div>

    <form id="passwordConfirmForm" method="POST" ng-submit="confirm(user)" ng-hide="response.success == true">
        <h1>Reset password</h1>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" id="password" ng-model="user.password" required placeholder="Password">
            <span class="ion-key form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" id="passwordRepeat" ng-model="user.passwordRepeat" required placeholder="Confirm Password">
            <span class="ion-key form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <button type="submit" ng-disabled="user.password == '' || user.password != user.passwordRepeat" class="btn btn-block btn-default">Reset password</button>
        </div>
    </form>
    <div class="fusio-login-ruler"></div>
    <p class="text-center text-muted">
        <small><a ng-href="#!/login">Log in</a> if you already have an account</small>
    </p>
</div>
