
<div class="row">
    <div class="col-md-2 fusio-sidebar" ng-include src="'app/account/nav.html'"></div>
    <div class="col-md-10">
        <div class="fusio-content">
            <h2>Apps</h2>
            <div uib-alert ng-class="'alert-info'">
                List of your apps, through an app you get a consumer key and secret which enables you to access the 
                protected parts of the API. Click on the show button to see the app key and secret.
            </div>

            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="200" />
                    <col width="200" />
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Create date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="app in apps">
                    <td>{{ app.name }}</td>
                    <td>{{ app.date | date:'shortDate' }}</td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button class="btn btn-default" ng-click="showApp(app)">Show</button>
                            <button class="btn btn-danger" ng-click="deleteApp(app)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a ng-click="createApp()" class="btn btn-primary" role="button">Create</a>
        </div>
    </div>
</div>
