
<div class="modal-header">
    <h3 class="modal-title">{{ app.name }}</h3>
</div>

<div class="modal-body">
    <dl>
        <dt>Name</dt>
        <dd>{{ app.name }}</dd>
        <dt>Url</dt>
        <dd>{{ app.url }}</dd>
        <dt>Created on</dt>
        <dd>{{ app.date }}</dd>
        <dt>Scopes</dt>
        <dd><span ng-repeat="scope in app.scopes"><span class="label label-primary">{{ scope }}</span>&nbsp;</span></dd>
    </dl>
    <div class="form-group">
        <label for="appKey" class="control-label">App key:</label>
        <input type="text" ng-model="app.appKey" readonly class="form-control" id="appKey">
    </div>
    <div class="form-group">
        <label for="appSecret" class="control-label">App secret:</label>
        <input type="text" ng-model="app.appSecret"  readonly class="form-control" id="appSecret">
    </div>
</div>

<div class="modal-footer">
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
