
<div class="row">
    <div class="col-md-2 fusio-sidebar" ng-include src="'app/account/nav.html'"></div>
    <div class="col-md-10">
        <div class="fusio-content">
            <h2>Grants</h2>
            <div uib-alert ng-class="'alert-info'">
                List of apps which you have granted access to your account. You can revoke the access at any time, the
                app can then no longer access the API on behalf of your account.
            </div>

            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="200" />
                    <col width="200" />
                </colgroup>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Granted on</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="grant in grants">
                    <td>{{ grant.app.name }}</td>
                    <td>{{ grant.createDate | date:'shortDate' }}</td>
                    <td>
                        <button class="btn btn-danger pull-right" ng-click="deleteGrant(grant)">Revoke</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
