
<div class="fusio-login">
  <div class="fusio-login-panel">
    <header>
      <h1>Login</h1>
    </header>
    <div class="fusio-login-panel-body">
      <app-message [response]="response"></app-message>
      <form (submit)="login()" novalidate>
        <div class="mb-3">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="credentials.username" class="form-control">
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary me-2" [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Login
        </button>
        <br>
        <br>
        <span class="float-end"><a routerLink="/password/reset">Password reset</a></span>
      </form>
    </div>
  </div>
</div>
