
<div class="fusio-page">
  <nav class="fusio-tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink="/account" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/security" class="nav-link">Security</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/apps" class="nav-link active">Apps</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/events" class="nav-link">Events</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/plans" class="nav-link">Plans</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/contracts" class="nav-link">Contracts</a>
      </li>
      <li class="nav-item">
        <a routerLink="/account/invoices" class="nav-link">Invoices</a>
      </li>
    </ul>
  </nav>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Create date</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    </tbody>
  </table>
</div>
