
<div class="container fusio-login-container">
    <h1>Authorization</h1>
    <uib-alert type="danger" ng-if="error">
        {{error}}
    </uib-alert>
    <uib-alert type="info" ng-if="info">
        {{info}}
    </uib-alert>

    <div ng-if="response.code">
        <uib-alert type="info">
            You have granted the application access. Provide the following
            authorization code in order to complete the authentication process.
        </uib-alert>
        <p><b>Authorization code:</b></p>
        <div class="fusio-code">{{ response.code }}</div>
    </div>

    <div ng-if="app.name && !response.code && !info">
        <p><a href="{{ app.url }}">{{ app.name }}</a> is requesting permission to access:</p>
        <ul>
            <li ng-repeat="scope in app.scopes"><b>{{ scope.description }}</b></li>
        </ul>
        <hr>
        <div>
            <button ng-click="submitAccess(1)" class="btn btn-primary">Allow Access</button>
            <button ng-click="submitAccess(0)" class="btn btn-default">No thanks</button>
        </div>
    </div>
</div>
