
<nav class="fusio-nav">
    <div class="fusio-nav-group">
        <h3>Account</h3>
        <ul>
            <li><a ng-href="#!/account">Profile</a></li>
            <li><a ng-href="#!/account/security">Security</a></li>
            <li ng-if="account.scopes.includes('consumer.grant')"><a ng-href="#!/account/grant">Grants</a></li>
            <li ng-if="account.scopes.includes('consumer.app')"><a ng-href="#!/account/app">Apps</a></li>
            <li ng-if="account.scopes.includes('consumer.subscription')"><a ng-href="#!/account/subscription">Events</a></li>
            <li ng-if="account.scopes.includes('consumer.plan')"><a ng-href="#!/account/plan">Plans</a></li>
        </ul>
    </div>
</nav>
