
<div class="row">
    <div class="col-md-2 fusio-sidebar" ng-include src="'app/account/nav.html'"></div>
    <div class="col-md-10">
        <div class="fusio-content">
            <h2>Purchase</h2>
            <div uib-alert ng-class="'alert-danger'" close="closeResponse()" ng-if="response.success === false">
                {{ response.message }}
            </div>
            <div uib-alert ng-class="'alert-success'" close="closeResponse()" ng-if="response.success === true">
                {{ response.message }}
            </div>

            <div uib-alert ng-class="'alert-info'">
            List of plans which can be purchased. Your account receives a specific
            amount of points which can be used to call specific routes.
            </div>

            <a ng-click="billingPortal()" class="btn btn-primary">Billing portal</a>

            <div class="row">
                <div class="col-md-4" ng-repeat="plan in plans">
                    <div class="fusio-intro-column">
                        <h3>{{ plan.name }}</h3>
                        <dl>
                            <dt>Price</dt>
                            <dd>{{ plan.price | currency : symbol : 2 }}</dd>
                            <dt>Points</dt>
                            <dd>{{ plan.points }}</dd>
                            <dt ng-if="plan.period">Period</dt>
                            <dd ng-if="plan.period">
                              <span ng-if="plan.period == 0">one-time</span>
                              <span ng-if="plan.period == 1">subscription</span>
                            </dd>
                        </dl>
                        <p>{{ plan.description }}</p>
                        <a ng-click="checkout(plan)" ng-class="{'disabled': loading}" class="btn btn-primary">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
