
<form name="accountSubscriptionForm" ng-submit="create(subscription)">
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <div uib-alert ng-class="'alert-danger'" close="closeResponse()" ng-if="response.success === false">
        {{ response.message }}
    </div>
    <div class="form-group">
        <label for="event">Event:</label>
        <select id="event" ng-model="subscription.event" ng-options="event.name as event.name for event in events" required aria-describedby="eventHelp" class="form-control">
        </select>
        <span class="help-block" id="eventHelp">The event which you can subscribe.</span>
    </div>
    <div class="form-group">
        <label for="url">Endpoint:</label>
        <input type="url" id="url" ng-model="subscription.endpoint" required aria-describedby="urlHelp" class="form-control">
      <span class="help-block" id="urlHelp">The endpoint which is called if the event occurs.</span>
    </div>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
</form>
