
<div class="row">
    <div class="col-md-2 fusio-sidebar" ng-include src="'app/account/nav.html'"></div>
    <div class="col-md-10 col-md-offset-2">
        <div class="fusio-content">
            <h2>Subscriptions</h2>
            <div uib-alert ng-class="'alert-info'">
                List of subscriptions. The endpoints receive a HTTP call in case a specific event occurs.
            </div>

            <table class="table">
                <colgroup>
                    <col width="*" />
                    <col width="200" />
                    <col width="200" />
                </colgroup>
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Endpoint</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subscription in subscriptions">
                    <td>{{ subscription.event }}</td>
                    <td>{{ subscription.endpoint }}</td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <button class="btn btn-danger" ng-click="deleteSubscription(subscription)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <a ng-click="createSubscription()" class="btn btn-primary" role="button">Subscribe</a>
        </div>
    </div>
</div>
