
<div class="container fusio-login-container">
    <div uib-alert ng-class="'alert-danger'" close="closeResponse()" ng-if="response.success === false">
        {{response.message}}
    </div>
    <div uib-alert ng-class="'alert-success'" close="closeResponse()" ng-if="response.success === true">
        Activation successful. You can now <a href="./login">Log in</a> with your new account.
    </div>

    <div class="fusio-login-ruler"></div>
    <p class="text-center text-muted">
        <small><a href="./login">Log in</a> if you already have an account</small>
    </p>
</div>
