
<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>

<div class="modal-body">
    <uib-alert type="danger" close="closeResponse()" ng-if="response.success === false">
        {{ response.message }}
    </uib-alert>
    <div class="form-group">
        <label for="name" class="control-label">Name:</label>
        <input type="text" ng-model="app.name" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="url" class="control-label">Url:</label>
        <input type="text" ng-model="app.url" class="form-control" id="url">
    </div>
    <div class="checkbox" ng-repeat="scope in scopes">
        <label><input type="checkbox" ng-model="app.scopes[$index]" ng-true-value="'{{scope.name}}'" ng-false-value="''"> {{ scope.description }}</label>
    </div>
</div>

<div class="modal-footer">
    <button type="button" ng-click="create(app)" class="btn btn-primary">Create</button>
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
</div>
