
<div class="row">
    <div class="col-md-2 fusio-sidebar" ng-include src="'app/account/nav.html'"></div>
    <div class="col-md-10">
        <div class="fusio-content">
            <h2>Profile</h2>
            <div uib-alert ng-class="'alert-danger'" close="closeResponse()" ng-if="response.success === false">
                {{response.message}}
            </div>
            <div uib-alert ng-class="'alert-success'" close="closeResponse()" ng-if="response.success === true">
                {{response.message}}
            </div>

            <div ng-if="email" class="pull-right visible-lg-block visible-md-block">
                <img gravatar-src="email" gravatar-size="100">
            </div>
            <form style="max-width:400px;" ng-submit="update(account)">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" ng-model="account.name" readonly id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" ng-model="account.email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="points">Points</label>
                    <input type="number" ng-model="account.points" readonly id="points" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary" value="Update">
            </form>
        </div>
    </div>
</div>
