
<div class="modal-header">
  <h3 class="modal-title">Invoice</h3>
</div>

<div class="modal-body">
  <form name="invoicePayForm" ng-submit="pay()">
    <div class="form-group">
      <label for="provider">Provider:</label>
      <select class="form-control" id="provider" ng-model="provider" ng-options="provider.key as provider.name for provider in providers" aria-describedby="providerHelp">
      </select>
      <span class="help-block" id="providerHelp">The payment provider which you want to use pay this invoice.</span>
    </div>
    <div class="fusio-intro-column">
      <h3>Invoice-Id: {{ invoice.displayId }}</h3>
      <dl>
        <dt>Amount</dt>
        <dd>{{invoice.amount | currency : symbol : 2}}</dd>
        <dt>Date</dt>
        <dd>{{invoice.insertDate | date: 'shortDate'}}</dd>
      </dl>
    </div>
    <button type="submit" class="btn btn-primary">Pay</button>
    <button type="button" ng-click="close()" class="btn btn-default">Cancel</button>
  </form>
</div>
